/*------------------------------------*\
  Elements > Blockquote
\*------------------------------------*/

blockquote {
  padding-left: $base-spacing-unit;
  border-left: 3px solid $color-gray;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}