/*------------------------------------*\
  Elements > Blockquote
\*------------------------------------*/

blockquote {
  padding-left: $base-spacing-unit;
  border-left: 3px solid $color-gray;
  white-space: normal;
  word-break: break-all;
}