/*------------------------------------*\
  Elements > code & pre
\*------------------------------------*/

pre,
code {
  font-family: $font-monospace;
  background-color: $bg-color-gray;
}

pre {
  display: inline-block;
  word-wrap: break-word;
  word-break: break-all;
}

li code,
p code { padding: quarter($base-spacing-unit) half($base-spacing-unit); }